.chatSend{
    padding:.5em;
    
  }
  #form-div {
    display: block;
  }
#flex {
  display: flex;
}
#wrapper {
  display:flex;
}
.outer{
  flex-grow: .75;
}
.form-control {
  width:75%;
}
  .header{
    padding: .5em;
    text-align: center;
  }
  .box {
    background-color: #DBD1D1;
    border-style: solid;
    border-color: black;
    width: 95%;
    height: 350px;
    overflow: scroll;
  }
  .message {
    padding:.5em;
    
  }
  #btn {
    margin-bottom: .5em;
  }
  .availableUsers {
    cursor: pointer;
    padding: .5em;
  }
  .availableUsers:hover {
    background-color: dodgerblue;
    
  }
  table {
    margin-top: 8em;
  }
  .submit {
    margin-top: .25em;
  }